- var id = 'cee-slider-' + (+new Date())

label(for=id)
  = label

input(
  type='number',
  data-type='range',
  value=value,
  min=min,
  max=max,
  name=id,
  id=id,
  step=(step < 1 ? '0' : '') + step
)
