- var protocolAndHost = requestInfo.protocolAndHost;
- var abspath = function(path) { return protocolAndHost + path; }

doctype html
html(lang="en")
  head
    title
  body
    script#report-data(type='text/json')!= JSON.stringify(report)
    if dev
      script
        != 'var host = \'' + protocolAndHost + '\';'
      script(src=abspath('/bower_components/requirejs/require.js'))
      script(src=abspath('/scripts/amd-config.js'))
      script(src=abspath('/components/reportgrouphistogram/redefine-main.js'))
    else
      script(src=abspath('/components/reportgrouphistogram/reportgrouphistogram.js'), charset='utf-8')
